# Electron 主程序镜像
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_custom_filename=electron-v{{ version }}-win32-x64.zip
# electron-builder 构建工具镜像
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# Playwright 镜像
PLAYWRIGHT_DOWNLOAD_HOST=https://npmmirror.com/mirrors/playwright/

# npm 包镜像
registry=https://registry.npmmirror.com